$primary-color: #e7196a;
$primary-color-dark: #ff0c6d;
$secondary-color: #1e2248;

$spacing-unit: 20px;

@mixin border($color) {
    border: 1px solid $color;
}

:root {
    --bs-secondary-color: #c5608800; /* Tutaj wpisz wybrany kolor */
}
  

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: "Kanit", sans-serif;    
    color: $secondary-color;  
}

body {
    font-size: 1.6rem;  
    font-weight: 400;
    font-style: normal;
}


.primary-color-text {
  color: $primary-color;
}

p {
  color: $secondary-color;
  margin-top: $spacing-unit;
}

header {
    max-height: 20vh;
    // border: 1px solid red;
    padding: $spacing-unit;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .logo {
        // border: 1px solid rgb(0, 34, 255);
        width: 12%;
        img {
            width: 100%;
        }
    }
    nav {
        // @include border(red);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        padding-right: 3rem;
        
        .primary-color-bg {
          background-color: $primary-color;
          color: white;
          padding: 15px 20px;
          font-weight: 700;
          min-width: 75px;
        }

        .primary-color-bg:hover {
            background-color: $primary-color;
            color: $secondary-color;
            cursor: pointer;
        }
        a {
          text-decoration: none;
            
            .nav-button {

              max-height: 80%;
              padding: 1.5rem $spacing-unit;
              text-transform: uppercase;
              font-weight: 700;
              font-size: 2rem;
              // @include border(green);
              margin-right: 2rem;
              text-align: center; 
              cursor: pointer;
              display: inline-block;
              position: relative;
              color: $secondary-color;
                span {
                  color: $primary-color;
                }            
            }
            .nav-button:hover {
                color: $primary-color;
            }

        }

              /* Dropdown */
      .language-dropdown {
        position: relative;
      }

      /* Zawartość dropdown (ukryta na start) */
      .dropdown-content {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: $primary-color;
        min-width: 75px;
        box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
        z-index: 1;
        border-radius: 4px;
      }

      /* Styl elementu w dropdownie */
      .dropdown-content a {
        color: rgb(255, 255, 255);
        padding: 15px 20px;
        text-decoration: none;
        display: block;
        text-align: left;
        background-color: $primary-color;
        font-weight: 700;
      }

      /* Styl po najechaniu */
      .dropdown-content a:hover {
        background-color: $primary-color-dark;
        color: $secondary-color;
      }

      /* Pokazuje dropdown na hover */
      .language-dropdown:hover .dropdown-content {
        display: block;
      }
        
    }
}

main {
    min-height: 60vh;
    // @include border(red);
    // background-color: #e7196b1e;


    .custom-carousel {
      margin-top: 5rem;
      position: relative;
      width: 100%;
      overflow: hidden;
    }
    
    .custom-carousel-slides {
      display: flex;
      transition: transform 0.9s ease-in-out;
      display: flex;
    }
    
    .custom-carousel-item {
      min-width: 100%;
      min-height: 60vh;
      padding: 0 0 50px 40px;
      color: #fff;
      text-transform: uppercase;
      display: flex;
      flex-direction: row;
    }
    
    .carousel-item-text {
      width: 50%;
      height: auto;
      align-self: center;
      margin-left: 8%;
      h1 {
        font-size: 5rem;    
        color: $secondary-color;
        font-weight: 700;
        span {
          color: $primary-color;
        }
      }
      a {
          background-color: $primary-color;
          border: white;
          color: white;
          padding: 1.5rem 2rem;
          font-weight: 600;
          font-size: 1.4rem;
          z-index: 100;
        }
      a:hover {
        background-color: $primary-color-dark;
        color: white;
        z-index: 100;
      }
    
    }
    
    .carousel-item-img {
      width: 50%;
      height: auto;
      img {
        width: 100%;
      }
    }
    
    .custom-carousel-prev, .custom-carousel-next {
      position: absolute;
      top: 30%;
      height: 50%;
      width: 40%;
      transform: translateY(-50%);
      background-color: rgba(0, 0, 0, 0);
      border: none;
      color: #ffffff00;
      font-size: 2rem;
      padding: 5rem;
      cursor: pointer;
    }
    
    .custom-carousel-prev {
      left: 1px;
    }
    
    .custom-carousel-next {
      right: 1px;
    }
    
    .custom-carousel-indicators {
      position: absolute;
      bottom: 15px;
      right: 10%;
      transform: translateX(-50%);
      display: flex;
      gap: 8px;
    }
    
    .custom-indicator {
      width: 20px;
      height: 20px;
      background-color: #ffffff00;
      border: 5px solid $secondary-color;
      cursor: pointer;
    }
    
    .custom-indicator.active {
      background-color: $primary-color;
      border: none;
    }
    
    
    footer {
      height: 20vh;
      @include border(black)
    }

    #section-products {
    // @include border(blue);
    text-align: center;
    margin-top: 4rem;
    padding: 3rem 0;
    min-height: 100vh;
    h1 {
        color: $secondary-color;
        font-weight: 700;
        font-size: 4rem;
        letter-spacing: 0.2rem;
        padding: 2rem;
        text-transform: uppercase;
    }

        .key-words {
            background-color: $primary-color;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            text-transform: uppercase;
            
            h2 {
                color: #fff;
                padding: 3rem;
                font-weight: 700;
                font-size: 3rem;
                span {
                    font-weight: 900;
                    font-size: 4rem;
                }
            }
        }

    }

    

}
