
@import 'variables';
@import 'mixins';
@import 'fonts';
@import 'global';

@import 'components/carousel';

@import 'layouts/header';
@import 'layouts/main';
@import 'layouts/footer';




:root {
  --bs-secondary-color: #c5608800; /* Tutaj wpisz wybrany kolor */
  --bg-color: $secondary-color;
  --bg-opacity: 0.1;
  --darktheme-text-color: #fff;
  --darktheme-bg-color: #1e2248;
}  

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}


body {
  font-family: "Kanit", serif;
  font-size: 1.6rem;
  font-weight: 400;
  background-color: $secondary-color;   
}





